@import "tailwindcss";

body {
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}