@import "tailwindcss";

html, body {
    overflow-x: hidden;
    max-width: 100vw;
}

pre {
    overflow-x: auto;
    max-width: 90vw;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.glass {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    @apply backdrop-blur-sm;
}

.reveal pre code, .hljs {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #DCDCDC;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}
.reveal pre, .hljs {
    box-shadow: none !important;
}

.filter{
    filter: grayscale(100%);
    width:100px;
    height:100px;
    /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
    /*object-fit:scale-down;*/
}

.custom-gradient
{
    background: radial-gradient(ellipse at 85% 5%, #151529 0%, #0a0a0a 40%);
}